<!DOCTYPE html>
<html>
<head>
      <title>SparkUp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :stylesheet %>
</head>
<body ng-app="myapp">
<%= javascript_include_tag 'app'%>
<%= yield :main %>
</body>
</html>
